apiVersion: apps/v1
kind: Deployment
metadata:
  name: bibanna-app
spec:
  template:
    spec:
      containers:
        - name: app
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1Gi
